/* Navbar.css */
nav {
  padding: 1rem 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

nav a:hover {
    color: rgb(0, 0, 0); /* Keeps the text color black */
}


/* Add this block for the initial state of the underline */
nav a::before {
  content: "";
  position: absolute;
  bottom: 0; /* Position at the bottom of the a element */
  left: 0;
  width: 0; /* Start with no width */
  height: 3px;
  background-color: #4000c0;
  transition: width 0.3s; /* Animate the width property */
}

/* Add this block to animate the width on hover */
nav a:hover::before {
  width: 100%; /* Full width on hover */
}
